<div class="example-flex-container" style="align-content: center">
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <button mat-icon-button color="primary" [disabled]="isCheckedbar" (click)="isCheckedbar=true"> Grafico de barras
        <mat-icon>bar_chart</mat-icon>
      </button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

        <button mat-icon-button color="primary" [disabled]="isCheckedpie" (click)="isCheckedpie=true"> Grafico de torta
        <mat-icon>pie_chart</mat-icon>
      </button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <button mat-icon-button color="primary" [disabled]="isCheckedAcu" (click)="isCheckedAcu=true"> Grafico Acumulados
        <mat-icon>bar_chart</mat-icon>
      </button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

        <button mat-icon-button color="primary"
                    (click)="exportAsPDF();"> Imprimir
        <mat-icon>print</mat-icon>
      </button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;



</div>

<div id="print">
  <div id="Bararas">
    <div *ngIf="isCheckedbar"  >
      <button mat-icon-button color="warn" [disabled]="isCheckedbar==false" (click)="isCheckedbar=false"> Borrar grafico
        <mat-icon>delete</mat-icon>
      </button>
      <div class="example-flex-container" data-html2canvas-ignore="true">
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <button mat-icon-button color="accent" [disabled]="isCheckedbarcon" (click)="isCheckedbarcon=true">
          Contaguiados
          <mat-icon>warning icon</mat-icon>
        </button>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        <button mat-icon-button color="warn" [disabled]="isCheckedbardead" (click)="isCheckedbardead=true"> Muertos
          <mat-icon>error icon</mat-icon>
        </button>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

        <button mat-icon-button color="primary" [disabled]="isCheckedbarrec" (click)="isCheckedbarrec=true"> Recuperados
          <mat-icon>done</mat-icon>
        </button>

      </div>

      <div id="bar-contagiados">
        <br><br><br><br>
        <div *ngIf="isCheckedbarcon" >

          <h1 style="text-align:center;">Contagiados</h1>

          <button mat-icon-button color="warn" [disabled]="isCheckedbarcon==false" (click)="isCheckedbarcon=false"> Borrar
            <mat-icon>delete</mat-icon>
          </button>


          <canvas baseChart width="1500" height="500"

                  [datasets]="lineChartData"
                  [labels]="lineChartLabels"
                  [colors]="lineChartColors"
                  [legend]="lineChartLegend"
                  [chartType]="lineChartType"
                  [plugins]="lineChartPlugins">
          </canvas>

        </div>
      </div>

      <div id="bar-muertos">

        <div *ngIf="isCheckedbardead">
          <br><br><br><br>

         <h1 style="text-align:center;">Muertos</h1>

          <button mat-icon-button color="warn" [disabled]="isCheckedbardead==false" (click)="isCheckedbardead=false"> Borrar
            <mat-icon>delete</mat-icon>
          </button>
          <canvas baseChart width="1500" height="500"
                  [datasets]="lineChartDatadead"
                  [labels]="lineChartLabels"
                  [colors]="lineChartColors"
                  [legend]="lineChartLegend"
                  [chartType]="lineChartType"
                  [plugins]="lineChartPlugins">
          </canvas>
        </div>
      </div>

      <div id="bar-recuperados">

        <div *ngIf="isCheckedbarrec">
          <br><br><br><br><br>

          <h1 style="text-align:center;">Recuperados</h1>
          <button mat-icon-button color="warn" [disabled]="isCheckedbarrec==false" (click)="isCheckedbarrec=false"> Borrar
            <mat-icon>delete</mat-icon>
          </button>
          <canvas baseChart width="1500" height="500"
                  [datasets]="lineChartDatarec"
                  [labels]="lineChartLabels"
                  [colors]="lineChartColors"
                  [legend]="lineChartLegend"
                  [chartType]="lineChartType"
                  [plugins]="lineChartPlugins">
          </canvas>
        </div>
      </div>


    </div>
  </div>

  <br>
  <br>
  <br>
  <br>

  <div id="pie-imagen">

    <div *ngIf="isCheckedpie" id="Pie">
      <button mat-icon-button color="warn" [disabled]="isCheckedpie==false" (click)="isCheckedpie=false"> Borrar grafico
        <mat-icon>delete</mat-icon>
      </button>
      <br>
      <mat-slide-toggle [(ngModel)]="isCheckedC" color="accent" data-html2canvas-ignore="true">Contagiados</mat-slide-toggle>
      <mat-slide-toggle [(ngModel)]="isCheckedM" color="accent" data-html2canvas-ignore="true">Muertos</mat-slide-toggle>
      <mat-slide-toggle [(ngModel)]="isCheckedR" color="accent" data-html2canvas-ignore="true">Recuperados</mat-slide-toggle>

      <mat-horizontal-stepper #stepper>

        <mat-step *ngIf="isCheckedC">
          <ng-template matStepLabel>Contagiados</ng-template>
          <div style="display: block;" id="graphics-contagiados">
            <canvas baseChart id="canvas-contagiados"
                    [data]="pieChartData"
                    [labels]="pieChartLabels"
                    [chartType]="pieChartType"
                    [options]="pieChartOptions"
                    [plugins]="pieChartPlugins"
                    [colors]="pieChartColors"
                    [legend]="pieChartLegend">
            </canvas>
          </div>

        </mat-step>

        <mat-step *ngIf="isCheckedM" >
          <ng-template matStepLabel>Muertos</ng-template>

          <div style="display: block;" id="graphics-muertos">
            <canvas baseChart id="canvas-muertos"
                    [data]="pieChartDataM"
                    [labels]="pieChartLabels"
                    [chartType]="pieChartType"
                    [options]="pieChartOptions"
                    [plugins]="pieChartPlugins"
                    [colors]="pieChartColors"
                    [legend]="pieChartLegend">
            </canvas>
          </div>
        </mat-step>
        <mat-step *ngIf="isCheckedR" >
          <ng-template matStepLabel >Recuperados</ng-template>

          <div style="display: block;" id="graphics-recuperados">
            <canvas baseChart id="canvas-recuperados"
                    [data]="pieChartDataR"
                    [labels]="pieChartLabels"
                    [chartType]="pieChartType"
                    [options]="pieChartOptions"
                    [plugins]="pieChartPlugins"
                    [colors]="pieChartColors"
                    [legend]="pieChartLegend">
            </canvas>
          </div>
        </mat-step>

      </mat-horizontal-stepper>

    </div>
  </div>

  <div id="acumulated-graph">

    <div *ngIf="isCheckedAcu" id="acumulated">
      <button mat-icon-button color="warn" [disabled]="isCheckedAcu==false" (click)="isCheckedAcu=false"> Borrar grafico
        <mat-icon>delete</mat-icon>
      </button>
      <br>
      <app-acumulated-graph></app-acumulated-graph>
    </div>
  </div>

</div>





