<mat-card-title align="center">Dashboard Bolivia</mat-card-title>
<mat-grid-list cols="5" rowHeight="5:2">
  <mat-grid-tile>
    <mat-card>
      <mat-card-title>Contagiados</mat-card-title>
      <mat-card-content align="center">
        <mat-chip-list>
          <mat-chip color="primary" selected >{{contagiados}}</mat-chip>
        </mat-chip-list>
      </mat-card-content>

    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card>
      <mat-card-title>Muertos</mat-card-title>
      <mat-card-content align="center">
        <mat-chip-list>
          <mat-chip color="primary" selected > {{muertos}}</mat-chip>
        </mat-chip-list>

      </mat-card-content>
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card>
      <mat-card-title>Recuperados</mat-card-title>
      <mat-card-content align="center">

        <mat-chip-list>
          <mat-chip color="primary" selected > {{recuperados}}</mat-chip>
        </mat-chip-list>
      </mat-card-content>
      <!--      <mat-icon aria-hidden="false" aria-label="Example home icon" >home</mat-icon>-->
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card>
      <mat-card-title>Primera Dosis</mat-card-title>
      <mat-card-content align="center">
        <mat-chip-list>
          <mat-chip color="primary" selected > {{vacu1}}</mat-chip>
        </mat-chip-list>

      </mat-card-content>
      <!--      <mat-icon aria-hidden="false" aria-label="Example home icon" >home</mat-icon>-->
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card>
      <mat-card-title>Segunda Dosis</mat-card-title>
      <mat-card-content align="center">
        <mat-chip-list>
          <mat-chip color="primary" selected > {{vacu2}}</mat-chip>
        </mat-chip-list>
      </mat-card-content>
      <!--      <mat-icon aria-hidden="false" aria-label="Example home icon" >home</mat-icon>-->
    </mat-card>
  </mat-grid-tile>

</mat-grid-list>

<mat-horizontal-stepper #stepper>
  <mat-step>
    <ng-template matStepLabel>Contagiados</ng-template>
    <div style="display: block; ">
      <h1 style="text-align:center;"> Contagiados</h1>
      <canvas baseChart width="1500" height="500"
              [datasets]="lineChartData"
              [labels]="lineChartLabels"
              [colors]="lineChartColors"
              [legend]="lineChartLegend"
              [chartType]="lineChartType"
              [plugins]="lineChartPlugins">
      </canvas>
    </div>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Muertos</ng-template>
    <div style="display: block; ">
      <h1 style="text-align:center;"> Muertos</h1>
      <canvas baseChart width="1500" height="500"
              [datasets]="lineChartDataDeath"
              [labels]="lineChartLabels"
              [colors]="lineChartColorsDeath"
              [legend]="lineChartLegend"
              [chartType]="lineChartType"
              [plugins]="lineChartPlugins">
      </canvas>
    </div>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Recuperados</ng-template>
    <div style="display: block; ">
      <h1 style="text-align:center;"> Recuperados</h1>
      <canvas baseChart width="1500" height="500"
              [datasets]="lineChartDataRecovered"
              [labels]="lineChartLabels"
              [colors]="lineChartColorsRecovered"
              [legend]="lineChartLegend"
              [chartType]="lineChartType"
              [plugins]="lineChartPlugins">
      </canvas>
    </div>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Vacunados</ng-template>
    <div style="display: block; ">
      <h1 style="text-align:center;"> Vacunados</h1>
      <canvas baseChart width="1500" height="500"
              [datasets]="lineChartDataVaccined"
              [labels]="lineChartLabelsVa"
              [colors]="lineChartColorsVaccined"
              [legend]="lineChartLegend"
              [chartType]="lineChartType"
              [plugins]="lineChartPlugins">
      </canvas>
    </div>
  </mat-step>
</mat-horizontal-stepper>



    <mat-grid-list cols="5" >
    <mat-grid-tile>
      <div class="box one">
        <h1>
          <a
            mat-list-item
            routerLink="/main/department/1"
            routerLinkActive="active"
          >La Paz</a>
        </h1>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="box two ">

        <h1><a
          mat-list-item
          routerLink="/main/department/4"
          routerLinkActive="active"
        >santa cruz</a>
        </h1>
      </div>

    </mat-grid-tile>
    <mat-grid-tile>
      <div class="box three ">
        <h1>
          <a
            mat-list-item
            routerLink="/main/department/8"
            routerLinkActive="active"
          >oruro</a>
        </h1>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="box five ">
        <h1>
          <a
            mat-list-item
            routerLink="/main/department/2"
            routerLinkActive="active"
          >Cochabamba</a></h1>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="box six ">
        <h1>
          <a
            mat-list-item
            routerLink="/main/department/3"
            routerLinkActive="active"
          >Tarija</a></h1>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="box seven ">
        <h1>
          <a
            mat-list-item
            routerLink="/main/department/5"
            routerLinkActive="active"
          >Potosí</a></h1>
      </div>

    </mat-grid-tile>
    <mat-grid-tile>
      <div class="box eight ">
        <h1>
          <a
            mat-list-item
            routerLink="/main/department/6"
            routerLinkActive="active"
          >Pando</a></h1>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="box nine ">
        <h1>
          <a
            mat-list-item
            routerLink="/main/department/7"
            routerLinkActive="active"
          >Beni</a></h1>
      </div>
    </mat-grid-tile>
    <mat-grid-tile>
      <div class="box ten ">
        <h1>
          <a
            mat-list-item
            routerLink="/main/department/9"
            routerLinkActive="active"
          >Chuquisaca</a></h1>
      </div>
    </mat-grid-tile>
  </mat-grid-list>

<!--<mat-card-title style="text-align: center"> Noticias</mat-card-title>-->
<!--    <mat-grid-list  cols="5" >-->
<!--    <mat-grid-tile *ngFor="let a of datanews">-->
<!--      <mat-card class="example-card" style="width: 450px; height: 300px">-->
<!--        <mat-card-header>-->
<!--          <mat-card-title>{{a.name}} </mat-card-title>-->
<!--        </mat-card-header>-->
<!--        <mat-card-content>-->
<!--          <p>-->
<!--            {{a.description}}-->
<!--          </p>-->
<!--        </mat-card-content>-->
<!--        <mat-card-actions>-->
<!--          <a mat-raised-button href="{{a.url}}" color="primary" target="_blank">Mas informacion</a>-->
<!--        </mat-card-actions>-->
<!--      </mat-card>-->
<!--    </mat-grid-tile>-->

<!--  </mat-grid-list>-->
















