


<mat-sidenav-container class="sidenav-container">
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <h1>Covid-19</h1>
        <span class="example-spacer"></span>
        <div>
          <a mat-button [routerLink]="'/main/principal'"> Mapas </a>
          <a mat-button [routerLink]="'/main/dashbolivia'"> Gráficos </a>
          <a mat-button [routerLink]="'/main/dashedit'" *ngIf="role[0]==='user'"> Personalizar </a>
          <a mat-button [routerLink]="'/main/noticia'"> Noticias </a>
          <a mat-button [routerLink]="'/main/predict'"> Predicciones </a>
          <a mat-button [routerLink]="'/main/data'" *ngIf="role[0]==='admin'"> Ingresar datos nuevos </a>
        </div>
        <span class="example-spacer"></span>
        <a mat-button [matMenuTriggerFor]="menu" *ngIf="Autheticated">
          <img src="{{user?.url_photo}}" alt="Avatar" class="avatar" />
        </a>
        <mat-menu #menu="matMenu">
          <span class="user-name">{{user?.username}}</span>
          <button mat-menu-item>Ver perfil</button>
        </mat-menu>
        <button mat-button *ngIf="!Autheticated" (click)="loginDialog()">
          LogIn
        </button>
        <button mat-button *ngIf="Autheticated" (click)="logout()">
          LogOut
        </button>
      </mat-toolbar-row>
    </mat-toolbar>

    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
