


<mat-sidenav-container class="sidenav-container">
<!--  <mat-sidenav-->
<!--    #drawer-->
<!--    class="sidenav"-->
<!--    fixedInViewport-->
<!--    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"-->
<!--    [mode]="(isHandset$ | async) ? 'over' : 'side'"-->
<!--    [opened]="(isHandset$ | async) === false"-->
<!--  >-->
<!--    <div class="sidebar-logo"></div>-->
<!--    <mat-nav-list>-->

<!--      <a-->
<!--        mat-list-item-->
<!--        routerLink="/main/dashbolivia"-->
<!--        routerLinkActive="active"-->
<!--      >Gráficos</a-->
<!--      >-->
<!--      <a mat-list-item-->
<!--         routerLink="/main/data"-->
<!--         routerLinkActive="active"-->
<!--      >Ingresar datos nuevos</a-->
<!--      >-->
<!--      <a-->
<!--        mat-list-item-->
<!--        routerLink="/main/principal"-->
<!--        routerLinkActive="active"-->
<!--      >Mapas</a-->
<!--      >-->
<!--      <a-->
<!--        mat-list-item-->
<!--        routerLink="/main/dashedit"-->
<!--        routerLinkActive="active"-->
<!--      >Personlizar</a-->
<!--      >-->
<!--      <a-->
<!--        mat-list-item-->
<!--        routerLink="/main/noticia"-->
<!--        routerLinkActive="active"-->
<!--      >Noticias</a-->
<!--      >-->
<!--      <a-->
<!--        mat-list-item-->
<!--        routerLink="/main/predict"-->
<!--        routerLinkActive="active"-->
<!--      >Predicciones</a>-->
<!--      <a-->
<!--        mat-list-item-->
<!--        routerLink="/main/profile"-->
<!--        routerLinkActive="active"-->
<!--      >Profile</a>-->
<!--    </mat-nav-list>-->
<!--  </mat-sidenav>-->
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <h1>Covid-19</h1>
        <span class="menu-spacer"></span>
        <div>
          <a mat-button [routerLink]="'/main/principal'"> Mapas </a>
          <a mat-button [routerLink]="'/main/dashbolivia'"> Gráficos </a>
          <a mat-button [routerLink]="'/main/dashedit'"> Personlizar </a>
          <a mat-button [routerLink]="'/main/noticia'"> Noticias </a>
          <a mat-button [routerLink]="'/main/predict'"> Predicciones </a>
<!--          <a mat-button [routerLink]="'/create-activity'"> Create Activity </a>-->

        </div>
      </mat-toolbar-row>
    </mat-toolbar>

    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
