<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <div class="sidebar-logo"></div>
    <mat-nav-list>

        <button (click)="auth.logout()" *ngIf="!auth.isAuthenticated$">
          Log out
        </button>

        <button (click)="auth.loginWithRedirect()" *ngIf="auth.isAuthenticated$">Log in</button>

      <a
        mat-list-item
        routerLink="/main/dashbolivia"
        routerLinkActive="active"
      >Gráficos</a
      >
      <a mat-list-item
         routerLink="/main/data"
         routerLinkActive="active"
      >Ingresar datos nuevos</a
      >
      <a
        mat-list-item
        routerLink="/main/principal"
        routerLinkActive="active"
      >Mapas</a
      >
      <a
        mat-list-item
        routerLink="/main/dashedit"
        routerLinkActive="active"
      >Personlizar</a
      >
      <a
        mat-list-item
        routerLink="/main/noticia"
        routerLinkActive="active"
      >Noticias</a
      >
      <a
        mat-list-item
        routerLink="/main/predict"
        routerLinkActive="active"
      >Predicciones</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <div class="row between-xs middle-xs header-row">
        <span>Covid_19</span>
      </div>
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
