<mat-card-title align="center">Dashboard {{name}}</mat-card-title>
<mat-grid-list cols="5" rowHeight="5:2">
  <mat-grid-tile>
    <mat-card>
      <mat-card-title>Contagiados</mat-card-title>
      <mat-card-content align="center">{{contagiados}}</mat-card-content>

    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card>
      <mat-card-title>Muertos</mat-card-title>
      <mat-card-content align="center">{{muertos}}</mat-card-content>


    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card>
      <mat-card-title>Recuperados</mat-card-title>
      <mat-card-content align="center">{{recuperados}}</mat-card-content>
      <!--      <mat-icon aria-hidden="false" aria-label="Example home icon" >home</mat-icon>-->
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card>
      <mat-card-title>Primera Dosis</mat-card-title>
      <mat-card-content align="center">{{vacu1}}</mat-card-content>
      <!--      <mat-icon aria-hidden="false" aria-label="Example home icon" >home</mat-icon>-->
    </mat-card>
  </mat-grid-tile>
  <mat-grid-tile>
    <mat-card>
      <mat-card-title>Segunda Dosis</mat-card-title>
      <mat-card-content align="center">{{vacu2}}</mat-card-content>
      <!--      <mat-icon aria-hidden="false" aria-label="Example home icon" >home</mat-icon>-->
    </mat-card>
  </mat-grid-tile>
</mat-grid-list>

<mat-horizontal-stepper #stepper>
  <mat-step>
    <ng-template matStepLabel>Contagiados</ng-template>
    <div style="display: block; ">
      <h1 style="text-align:center;"> Contagiados</h1>
      <canvas baseChart width="1500" height="500"
              [datasets]="lineChartData"
              [labels]="lineChartLabels"
              [colors]="lineChartColors"
              [legend]="lineChartLegend"
              [chartType]="lineChartType"
              [plugins]="lineChartPlugins">
      </canvas>
    </div>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Muertos</ng-template>
    <div style="display: block; ">
      <h1 style="text-align:center;"> Muertos</h1>
      <canvas baseChart width="1500" height="500"
              [datasets]="lineChartDataDeath"
              [labels]="lineChartLabels"
              [colors]="lineChartColorsDeath"
              [legend]="lineChartLegend"
              [chartType]="lineChartType"
              [plugins]="lineChartPlugins">
      </canvas>
    </div>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Recuperados</ng-template>
    <div style="display: block; ">
      <h1 style="text-align:center;"> Recuperados</h1>
      <canvas baseChart width="1500" height="500"
              [datasets]="lineChartDataRecovered"
              [labels]="lineChartLabels"
              [colors]="lineChartColorsRecovered"
              [legend]="lineChartLegend"
              [chartType]="lineChartType"
              [plugins]="lineChartPlugins">
      </canvas>
    </div>
  </mat-step>
  <mat-step>
    <ng-template matStepLabel>Vacunados</ng-template>
    <div style="display: block; ">
      <h1 style="text-align:center;"> Vacunados</h1>
      <canvas baseChart width="1500" height="500"
              [datasets]="lineChartDataVaccined"
              [labels]="lineChartLabelsVa"
              [colors]="lineChartColorsVaccined"
              [legend]="lineChartLegend"
              [chartType]="lineChartType"
              [plugins]="lineChartPlugins">
      </canvas>
    </div>
  </mat-step>
</mat-horizontal-stepper>

<!--
<div class="mat-elevation-z8">
  <mat-table [dataSource]="listData"  matSort>
    <ng-container matColumnDef="fullName">
      <mat-header-cell *matHeaderCellDef  mat-sort-header>Full Name</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.data}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="email">
      <mat-header-cell *matHeaderCellDef  mat-sort-header>Email</mat-header-cell>
      <mat-cell *matCellDef="let element">{{element.municipality}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef="actions">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let row">
        <button mat-icon-button><mat-icon>launch</mat-icon></button>
        <button mat-icon-button color="warn"><mat-icon>delete_outline</mat-icon></button>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef="loading">
      <mat-footer-cell *matFooterCellDef colspan="6">
        Loading data...
      </mat-footer-cell>
    </ng-container>
    <ng-container matColumnDef="noData">
      <mat-footer-cell *matFooterCellDef colspan="6">
        No data.
      </mat-footer-cell>
    </ng-container>
    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide':listData!=null}"></mat-footer-row>
    <mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide':!(listData!=null && listData.data.length==0)}"></mat-footer-row>
  </mat-table>
  <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]" [pageSize]="5" showFirstLastButtons></mat-paginator>
</div>

-->



<div class="card" align="center" style="margin-left: 500px; margin-right: 500px">
  <div class="card-header">

    <div class="container">
      <div class="row">
        <div class="col">
          <mat-form-field appearance="legacy" style="width: 300px">
            <mat-icon matSuffix>search</mat-icon>
            <mat-label>Municipios</mat-label>
            <input matInput (keyup)="applyFilter($event)" #input>
<!--            <input (keyup.enter)="generateFilter()" [(ngModel)]="filterMunicipality" matInput placeholder="Ingrese el nombre de un municipio">-->
          </mat-form-field>
        </div>
      </div>
    </div>
  </div>

  <div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource">

      <!-- Position Column -->
      <ng-container matColumnDef="municipality" style="width: 600px">
        <th mat-header-cell *matHeaderCellDef> Municipio </th>
        <td mat-cell *matCellDef="let element"> {{element.municipality}} </td>
      </ng-container>

      <ng-container matColumnDef="dato" style="width: 600px">
        <th mat-header-cell *matHeaderCellDef> Datos </th>
        <td mat-cell *matCellDef="let element"> {{element.dato}} </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>

</div>



<h1 *ngIf="muni==false">NO hay Datos</h1>




