<mat-grid-list [cols]="10" rowHeight="4rem" >
  <mat-grid-tile [colspan]="10" [rowspan]="1" >
    <h1>Mapa covid Bolivia</h1>

    <h1>Bolivia</h1>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="10" [rowspan]="10" >
    <div class="map-container">
      <div class="map-frame">
        <div id="map"></div>
      </div>
    </div>
  </mat-grid-tile>
  <mat-grid-tile [colspan]="10" [rowspan]="5" >
    <table>

      <td>Tipo de dato</td>
      <td>Dato</td>
      <tr *ngFor="let dash of lista">
        <td>{{ dash.datatype}}</td>
        <td>{{ dash.data}}</td>
      </tr>
    </table>
  </mat-grid-tile>
</mat-grid-list>





