<mat-grid-list  cols="3" >

  <mat-grid-tile *ngFor="let a of datanews">
    <mat-card class="example-card" >
    <mat-card-header>
      <mat-card-title>{{a.name}} </mat-card-title>
    </mat-card-header>
<!--      <div >-->
<!--        <img mat-card-image  src="{{a.image.thumbnail.contentUrl}}"  alt="{{a.name}}" style="width: fit-content;">-->

<!--      </div>-->
    <mat-card-content>
      <p>
        {{a.description}}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <a mat-raised-button href="{{a.url}}" color="primary" target="_blank">Mas informacion</a>
    </mat-card-actions>
  </mat-card>
  </mat-grid-tile>

</mat-grid-list>>

