<p>newdata works!</p>
<br>
<mat-form-field appearance="fill">
  <mat-label>Municipio</mat-label>
  <mat-select>
    <mat-option>-- None --</mat-option>
    <mat-optgroup *ngFor="let group of departments" [label]="group.department">
      <mat-option *ngFor="let municipio of group.municipalities" [value]="municipio">
        {{municipio}}
      </mat-option>
    </mat-optgroup>
  </mat-select>
</mat-form-field>

<input type="file" class="file-input" (change)="onFileSelected($event)" #fileUpload>
<div class="file-upload">     {{fileName || "No file uploaded yet."}}
  <button mat-mini-fab color="primary" class="upload-btn" (click)="fileUpload.click()">
    <mat-icon>attach_file</mat-icon>
  </button>
</div>

