<div class="form_data" >
  <div >
    <mat-form-field appearance="outline">
      <mat-label>Datos a ingresar</mat-label>
      <input matInput  type="number" placeholder="Placeholder">
      <mat-hint>Datos de los casos</mat-hint>
    </mat-form-field>

    <mat-form-field appearance="outline" class="example-form-field">
      <mat-label>Choose a date</mat-label>
      <input matInput [matDatepicker]="datepicker">
      <mat-datepicker-toggle matSuffix [for]="datepicker"></mat-datepicker-toggle>
      <mat-datepicker #datepicker>
        <mat-datepicker-actions>
          <button mat-button matDatepickerCancel>Cancel</button>
          <button mat-raised-button color="primary" matDatepickerApply>Apply</button>
        </mat-datepicker-actions>
      </mat-datepicker>
    </mat-form-field>
    <br>
    <mat-form-field appearance="outline">
      <mat-label>Select an option</mat-label>
      <mat-select [(value)]="selected">
        <mat-option>None</mat-option>
        <mat-option value="1">Contagiados</mat-option>
        <mat-option value="2">Muertos</mat-option>
        <mat-option value="3">Recuperado</mat-option>
        <mat-option value="4">Vacuna primera dosis</mat-option>
        <mat-option value="5">vacuna segunda dosis</mat-option>
      </mat-select>
    </mat-form-field>

    <br>
    <mat-slide-toggle [(ngModel)]="dep" color="primary" >Departameto </mat-slide-toggle>
  </div>
  <br>
  <div *ngIf="dep==true" id="dep">

    <mat-form-field appearance="outline" >
      <mat-label>Departamento</mat-label>
      <mat-select [(value)]="depselect" name="depa">
        <mat-option value="" selected></mat-option>
        <mat-option *ngFor="let depa of departments" [value]="depa.idDepartment">
          {{depa.department}}
        </mat-option>
      </mat-select>
    </mat-form-field>


    <br>

    <mat-slide-toggle [(ngModel)]="mun" color="primary" >municipio </mat-slide-toggle>

    <div *ngIf="mun==true" id="municipio">

      <mat-form-field appearance="outline" >
        <mat-label>Departamento</mat-label>
        <mat-select [(value)]="muniselect" name="depa">
          <mat-option value="" selected></mat-option>
          <mat-option *ngFor="let muni of departments[depselect-2].municipalities" [value]="muni" >
            {{muni}}
          </mat-option>
        </mat-select>
      </mat-form-field>

    </div>

  </div>

</div>

<div id="csv">
  <input type="file" class="file-input" (change)="onFileSelected($event)" #fileUpload>
  <div class="file-upload">     {{fileName || "No file uploaded yet."}}
    <button mat-mini-fab color="primary" class="upload-btn" (click)="fileUpload.click()">
      <mat-icon>attach_file</mat-icon>
    </button>
  </div>
</div>

